Igor Chorążewicz <igor.chorazewicz@intel.com>
Michał Biesek <michal.biesek@intel.com>
Krzysztof Kajrewicz <krzysztof.kajrewicz@intel.com>
<adam.borowski@intel.com> <kilobyte@angband.pl>
<marcin.slusarz@intel.com> <marcin.slusarz@gmail.com>
